<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QueueClipApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95088FEE1D5D1CA000088F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95088FFD1D5D1CA000088F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>950890081D5D1CA000088F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
